p {
    margin: 0;
}

.displayNone {
    display: none;
}

.stepDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.optionDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: wheat;
    padding: 10px;
    border-radius: 10px;
}

.nextStep {
    width: fit-content;
    height: fit-content;
    padding: 6px;
    border: none;
    background-color: purple;
    color: white;
}

.buttonsStep {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainBox {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    min-width: 30vw;
}

.blockchainRow {
    display: flex;
    flex-direction: row;
}

#blockchainDiv {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

#customProfileDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}