<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
    <link rel="stylesheet" href="/static/dist/vanilla-notify.css" />
    <title>Wallet customization TALAO admin</title>
    <script src="/static/dist/vanilla-notify.js"></script>
</head>

<body>
    <div id="mainBox">
        <div class="divRow">
            <p id="dashboardTitle">Dashboard admin Talao</p>
            <button id="logout" onclick="logout()" class="buttonAltmeInversed">Logout</button>
        </div>

        <div class="section">
            <input type="text" id="newOrganisation" placeholder="Name of the organisation">
            <input type="text" id="emailAdmin" placeholder="Email of the admin">
            <input type="text" id="firstNameAdmin" placeholder="First name of the admin">
            <input type="text" id="lastNameAdmin" placeholder="Last name of the admin">
            <input type="text" id="companyName" placeholder="Company name">
            <button onclick="addOrganisation()" class="buttonAltme">Add organisation</button>
        </div>
        <div class="section">
            <input type="text" id="organisationDashboard" placeholder="organisation name">
            <button onclick="goDashboard()" class="buttonAltme">Go to dashboard</button>
        </div>

        <table id="tableDashboard">
            <tr>
                <th>Organisation</th>
                <th>Admin email</th>
                <th>Configured</th>
                <th>Version config</th>
                <th>Plan</th>
            </tr>
            {% for row in table %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[0]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[7]}}</td>

                <td>

                    <div class="planChanger{{row[1]}}">
                        <select onchange="changePlan('{{row[1]}}')" class="inputDashboard" id="newPlan{{row[1]}}">
                            <option value="free">Free</option>
                            <option value="paid">Paid</option>
                        </select>

                    </div>
                </td>
                <td><button class="buttonTable" onclick="sendNewPassword('{{row[0]}}')">send a new password</button>
                </td>

                <td><button class="buttonTable" onclick="openPopup('{{row[1]}}')"
                        class="delete{{row[1]}}">delete</button></td>

                <td>

                    <div class="statusChanger{{row[1]}}">
                        <select onchange="changeStatus('{{row[1]}}')" id="newStatus{{row[1]}}" class="inputDashboard">
                            <option value="active">active</option>
                            <option value="inactive">inactive</option>
                        </select>

                    </div>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="overlay" class="displayNone">
        <div id="popup">
            <p id="titlePopup"></p>
            <div id="buttonsPopup">
                <button id="deleteButton" onclick="deleteOrga()">Delete</button>
                <button id="backButton" onclick="openPopup('')">Go back</button>
            </div>
        </div>
    </div>
    <script>
        var organisationDashboard;
        function changeStatus(organisation) {
            let newStatus = document.getElementById("newStatus" + organisation).value
            fetch('/update_status_organisation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ "organisation": organisation, "new_status": newStatus })

            })
                .then(response => {
                    console.log(response.status)
                    if (response.status === 200) {
                        vNotify.info({ text: organisation + ' status changed to ' + newStatus, title: 'Info', sticky: false ,  visibleDuration: 5000})
                    }
                    else {
                        vNotify.error({ text: organisation + ' status not changed: ' + response.status, title: 'Error', sticky: true })
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        {% for row in table %}
        document.getElementById("newStatus{{row[1]}}").value = "{{ row[6] }}" === "1" ? "active" : "inactive"
        {% endfor %}
        {% for row in table %}
        document.getElementById("newPlan{{row[1]}}").value = "{{row[5]}}";
        {% endfor %}
        var elements = document.querySelectorAll('.planChangerTalao');
        elements.forEach(function (element) {
            element.remove();
        });
        function logout() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(response => { console.log(response.status); window.location.replace("/") })
                .catch(error => console.error('Error:', error));
        }
        function addOrganisation() {
            let organisation = document.getElementById("newOrganisation").value
            fetch('/add_organisation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    organisation: organisation,
                    emailAdmin: document.getElementById("emailAdmin").value,
                    firstNameAdmin: document.getElementById("firstNameAdmin").value,
                    lastNameAdmin: document.getElementById("lastNameAdmin").value,
                    companyName: document.getElementById("companyName").value,
                })
            })
                .then(response => {
                    console.log(response.status);
                    if (response.status === 200) {
                        vNotify.info({ text: 'New organisation ' + organisation + ' created.', title: 'Info', sticky: false,  visibleDuration: 5000 })
                    }
                    else {
                        vNotify.error({ text: 'New organisation ' + organisation + ' not created: ' + response.status, title: 'Error', sticky: true })
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function deleteOrga() {
            let organisation = organisationToDelete
            fetch('/delete_organisation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    organisation: organisation

                })
            })
                .then(response => { console.log(response.status); window.location.reload() })
                .catch(error => console.error('Error:', error));
        }
        function changePlan(organisation) {
            let newPlan = document.getElementById("newPlan" + organisation).value
            fetch('/change_plan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    organisation: organisation,
                    newPlan: newPlan
                })
            })
                .then(response => {
                    console.log(response.status)
                    if (response.status === 200) {
                        vNotify.info({ text: organisation + ' plan changed to ' + newPlan, title: 'Info', sticky: false,  visibleDuration: 5000 })
                    }
                    else {
                        vNotify.error({ text: organisation + ' plan not changed: ' + response.status, title: 'Error', sticky: true })
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        function sendNewPassword(email) {
            fetch('/update_password_admin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email

                })
            })
                .then(response => {
                    console.log(response.status);
                    if (response.status === 200) {
                        vNotify.info({ text: 'New password sent to ' + email, title: 'Info', sticky: false,  visibleDuration: 5000 })
                    }
                    else {
                        vNotify.error({ text: 'Cannot send new password to ' + email + ": " + response.status, title: 'Error', sticky: true })
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        function goDashboard() {
            window.location = "/dashboard?organisation=" + document.getElementById("organisationDashboard").value
        }
        function openPopup(organisation){
            organisationToDelete=organisation
            document.getElementById("titlePopup").innerHTML="Do you really want to delete the organisation "+organisation+" ?"
            document.getElementById("overlay").getAttribute("class")==="displayNone"?document.getElementById("overlay").setAttribute("class",""):document.getElementById("overlay").setAttribute("class","displayNone")
        }
    </script>
</body>

</html>