<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/static/dashboard.css">

</head>

<body>
  <p id="dashboardTitle">Dashboard admin {{organisation}}</p>
  <button onclick="logout()">Logout</button>
  <div>
    <input placeholder="email" type="text" id="emailAdd" name="email">
    <button onclick="addUser()">Add user</button>
  </div>
  <div>
    <p id="usersTitle">Users</p>
    <div id="usersRows">
      {% for row in rows %}
      <div>
        <p>{{row[0]}}</p><button onclick="deleteUser('{{row[0]}}')">delete user</button><button onclick="sendNewPassword('{{row[0]}}')">send new password</button>
      </div>

      {% endfor %}
    </div>
  </div>
  <a id="modifyConfiguration" href="/setup">Modify configuration</a>
  <script>
    function addUser() {
      fetch('/add_user', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email: document.getElementById("emailAdd").value })
      })
        .then(response => { console.log(response.status); window.location.reload() })
        .catch(error => console.error('Error:', error));
    }
    function logout() {
      fetch('/logout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
      })
        .then(response => { console.log(response.status); window.location.replace("/") })
        .catch(error => console.error('Error:', error));
    }
    function deleteUser(email) {
      console.log(email)
      fetch('/delete_user', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email: email })

      })
        .then(response => { console.log(response.status); window.location.reload() })
        .catch(error => console.error('Error:', error));
    }
    function sendNewPassword(email) {
            fetch('/update_password_user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email
                    
                })
            })
                .then(response => {console.log(response.status);window.location.reload()})
                .catch(error => console.error('Error:', error));
        }
  </script>
</body>

</html>