<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">

</head>

<body>
    <p id="dashboardTitle">Dashboard admin Talao</p>
    <button id="logout" onclick="logout()">Logout</button>
    <div>
        <input type="text" id="newOrganisation" placeholder="Name of the organisation">
        <input type="text" id="emailAdmin" placeholder="Email of the admin">
        <input type="text" id="firstNameAdmin" placeholder="First name of the admin">
        <input type="text" id="lastNameAdmin" placeholder="Last name of the admin">
        <input type="text" id="companyName" placeholder="Company name">
        <input type="text" id="companyWebsite" placeholder="Company website">
        <button onclick="addOrganisation()">Add organisation</button>
    </div>
    <input type="text" id="organisationDashboard">
    <button onclick="goDashboard()">Go to dashboard</button>
    <table>
        <tr>
            <th>Organisation</th>
            <th>Admin email</th>
            <th>Configured</th>
            <th>Plan</th>
        </tr>
        {% for row in table %}
        <tr>
            <td>{{row[1]}}</td>

            <td>{{row[0]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td><button onclick="sendNewPassword('{{row[0]}}')">send a new password</button></td>

            <td><button onclick="deleteOrga('{{row[1]}}')">delete</button></td>
            <td>
                <div class="planChanger{{row[1]}}">
                    <select id="newPlan{{row[1]}}">
                        <option value="free">Free</option>
                        <option value="paid">Paid</option>
                    </select>
                    <button onclick="changePlan('{{row[1]}}',document.getElementById('newPlan{{row[1]}}').value)">Change
                        plan</button>
                </div>

            </td>
            <td>

                <div>
                    <select id="newStatus{{row[1]}}" class="inputDashboard">
                        <option onclick="changeStatus('{{row[1]}}')" value="active">active</option>
                        <option onclick="changeStatus('{{row[1]}}')" value="inactive">inactive</option>
                    </select>

                </div>
            </td>

        </tr>
        {% endfor %}
    </table>
    <script>
        function changeStatus(organisation) {
            console.log("changing status ", organisation, " ", document.getElementById("newStatus" + organisation).value)
            fetch('/update_status_organisation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ "organisation": organisation, "new_status": document.getElementById("newStatus" + organisation).value })

            })
                .then(response => { console.log(response.status); })
                .catch(error => console.error('Error:', error));
        }
        {% for row in table %}
        document.getElementById("newStatus{{row[1]}}").value = "{{ row[6] }}" === "1" ? "active" : "inactive"
        {% endfor %}
        {% for row in table %}
        document.getElementById("newPlan{{row[1]}}").value = "{{row[5]}}";
        {% endfor %}
        var elements = document.querySelectorAll('.planChangerTalao');
        elements.forEach(function (element) {
            element.remove();
        });
        function logout() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(response => { console.log(response.status); window.location.replace("/") })
                .catch(error => console.error('Error:', error));
        }
        function addOrganisation() {
            fetch('/add_organisation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    organisation: document.getElementById("newOrganisation").value,
                    emailAdmin: document.getElementById("emailAdmin").value,
                    firstNameAdmin: document.getElementById("firstNameAdmin").value,
                    lastNameAdmin: document.getElementById("lastNameAdmin").value,
                    companyName: document.getElementById("companyName").value,
                    companyWebsite: document.getElementById("companyWebsite").value,
                })
            })
                .then(response => console.log(response.status))
                .catch(error => console.error('Error:', error));
        }

        function deleteOrga(organisation) {
            fetch('/delete_organisation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    organisation: organisation

                })
            })
                .then(response => { console.log(response.status); window.location.reload() })
                .catch(error => console.error('Error:', error));
        }
        function changePlan(organisation, newPlan) {
            fetch('/change_plan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    organisation: organisation,
                    newPlan: newPlan
                })
            })
                .then(response => console.log(response.status))
                .catch(error => console.error('Error:', error));
        }
        function sendNewPassword(email) {
            fetch('/update_password_admin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email

                })
            })
                .then(response => { console.log(response.status); window.location.reload() })
                .catch(error => console.error('Error:', error));
        }
        function goDashboard() {
            window.location = "/dashboard?organisation=" + document.getElementById("organisationDashboard").value
        }
    </script>
</body>

</html>